<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.paul.rclone.mount</string>
    <key>ProgramArguments</key>
    <array>
        <string>sh</string>
        <string>~/rclone/mount.sh</string>
        <string>tên-config-của-bạn-đặt-ở-bước-2</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>~/rclone/logs/rclone-mount.log</string>
    <key>StandardErrorPath</key>
    <string>~/rclone/logs/rclone-mount.err</string>
</dict>
</plist>
